---
layout: default
---
{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% else %}
{% for post in site.posts %}
<div class="row flex-center child-borders">
<div class="card mt-4" style="width: 66rem;">
  <div class="card-body">
      <h4 class="card-title">{{ post.title }}</h4>
    <h5 class="card-subtitle">
      <time>{{ post.date | date_to_string }}</time>
    </h5>
    <p class="card-text">{{ post.excerpt }}</p>
    <a class="card-link" href="{{ site.baseurl }}{{ post.url }}"><button>Read more</button></a>
  </div>
</div>
</div>
{% endfor %}
{% endif %}
