<header class="margin-bottom-large">
  <nav class="border margin-bottom padding">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="no-margin">
          <a href="{{ '/' | relative_url }}" class="no-decoration">
            {{ site.title }}
          </a>
        </h1>
        <p class="no-margin text-secondary">{{ site.description }}</p>
      </div>
    </div>
    
    <div class="row flex-center margin-top">
      {% for link in site.nav_links %}
      <div class="col-6 col-sm-3">
        <a href="{{ link.url | relative_url }}" 
           class="paper-btn btn-small width-100 text-center">
          {{ link.title }}
        </a>
      </div>
      {% endfor %}
    </div>
  </nav>
</header>
